server:
  port: 8090
error:
  myscheduler:
    msg: "Error scheduling this job: "
  job-info:
    msg: "Inicie o job para pegar suas informações "
enelsp:
  first-job:
    name: first
    group: enelsp
    description: Primeiro exemplo de job vindo da Enel Sao Paulo rodando
    first-trigger: enel_first_job_trigger
  second-job:
    name: second
    group: enelsp
    description: Segundo exemplo de job vindo da Enel Sao Paulo rodando
cpfl:
  first-job:
    name: first
    group: cpfl
    description: Primeiro exemplo de job vindo da CPFL rodando
  second-job:
    name: second
    group: cpfl
    description: Segundo exemplo de job vindo da CPFL rodando
spring:
  flyway:
    validate-on-migrate: false
  datasource:
    url: jdbc:mysql://localhost:3306/quartz?useTimezone=true&serverTimezone=UTC
    username: root
    password:
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    properties.hibernate.dialect: org.hibernate.dialect.MySQL5Dialect
    show-sql: false
    properties.hibernate.format_sql: false
    hibernate:
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl

